{% extends "htmlTemplates/base.html" %}

{% block content %}
<div class="container-fluid formSect align-items-center d-flex justify-content-center pb-5">
    <div class="card formCard text-center mt-5 pb-5" >
        <div class="card-body ">
            <h1 class="pb-3"> 
                Reset password
            </h1>

            <form method="POST">
                {% csrf_token %}

                {{ passwordForm.non_field_errors }}
                <ul class="passwordHelptext">
                    This requires a 8 character length minimally.
                </ul>
                <ul class="passwordHelptext">
                    It must consists of at least 1 upper and lower casing letters and digits.
                </ul>
                {% for passwordField in passwordForm %}
                    <div>

                        <label class="form-label fw-semibold pb-1 d-block pt-1">
                            {{ passwordField.label }}
                        </label>
                        
                        
                        <div class="position-relative pb-3">
                            {{ passwordField }}
                            <button type="button"
                                    class="passwordEyeToggleBtnForResetPassword"
                                    onclick="togglePasswordVisibility(this)">
                                👁
                            </button>
                        </div>
                            
                        {% for error in passwordField.errors %}
                            <div class="formError">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}

                <button type="submit" class="genericButton mt-4">Reset Password</button>

            </form>
            
        </div>

    </div>
        
</div>

<!-- This function allows user to censor/decensor the password input by clicking on the eyeball button -->
<script>
    function togglePasswordVisibility(btn) {
        // Here I am utilizing the fact that Django automatically
        //  gives the password field the ID "id_password":
         const passwordInput = btn.parentElement.querySelector("input");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            btn.textContent = "🔒";
        } else {
            passwordInput.type = "password";
            btn.textContent = "👁";
        }
    }
</script>

{% endblock %}